*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1px;
    padding: 80px 20px;
    margin-bottom: 80px;
}
.box1{
    width: 356px;
    height: 415px;
}
h6{
    font-family: Source Sans Pro;
        font-weight: 700;
        font-size: 22px;
        line-height: 120%;
        letter-spacing: 0%;
        margin-top: 32px;
        margin-bottom: 16px;
}
button{
    width: 204px;
        height: 42px;
        border-radius: 8px;
        background-color: #F1722833;
        border: none;
        color: #F17228;
}