.mubina-h1 {
	font-weight: 700;
	font-size: 43px;
	text-align: center;
}

.card {
	width: 250px;
	opacity: 1;
	gap: 16px;
	background: white;
}

.cards {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 26px;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 22px;
	line-height: 120%;
	letter-spacing: 0%;
}

h3 {
	font-weight: 400;
	font-size: 22px;
	color: #ffb30e;
}

.hh {
	font-family: sans-serif;
	font-weight: 700;
	font-size: 22px;

	color: black;
}

button {
	width: 200px;
	height: 60px;
	opacity: 1;
	gap: 10px;
	border-radius: 8px;
	padding-top: 21px;
	padding-right: 48px;
	padding-bottom: 21px;
	padding-left: 48px;
	background: #f17228;
	font-family: sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	color: white;
	border: none;
}
